<div class="row">
    <div class="col-4"></div>
    <div class="col-4 mt-5 border  bg-light " style="width: 419px;height: 500px;border-radius: 5%;">
        <div style="
        background-color: dodgerblue;height: 200px;margin-top: -48px;width: 418px; margin-left: -13px;color: white;border-radius: 5%;">
        <h1 class="mt-5 mb-4 text-center">E Finance Bank</h1>
        <img id="logo" src="../../assets/images/preview.jpg" alt="">
        </div>
        <form action="" class="p-5" style="margin-left: -49px;">
            <input type="text" id="reg_uname" class="form-control " placeholder="Username">
            
            <input type="text" id="reg_accno" class="form-control mt-2 " placeholder="Account Number">
            <input type="password" id="reg_pass" class="form-control mt-2" placeholder="Password">
            <div class="d-grid gap-2">
               
                <input type="button" value="Register"  class="btn btn-primary mt-3 " onclick="register()" style="margin-left: 131px;width: 138px;">
             </div>
            <div class="mt-3 " style="margin-left: 67px;">
                <a href="index.html" style="text-decoration: none;">Sign in</a>

            </div>
            
        </form>    
    </div>
    <div class="col-4"></div>
</div>
